extends layout

block body_content
	div(style="padding-left: 10%")
		.index_title= WEBSITE_TITLE
		.index_subtitle= ''

		.row
			.col-sm-2
			.col-sm-8
				a.btn.btn-lg.btn-block(href="/main") 開始使用

block body_script