- var WEBSITE_TITLE = '愛情小幫手';
- var WEBSITE_DESC  = '找找你需要什麼';

doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="language", content="zh_TW")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")

		link(rel="icon", type="/image/x-icon", href="/images/favicon.ico")
		link(rel="shortcut icon", href="/images/favicon.ico")

		block head_title
			title #{WEBSITE_TITLE}
			meta(name="description", content="#{WEBSITE_DESC}")

		block head_style
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
			link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css")
			link(rel="stylesheet", href="/stylesheets/style.css")

	body
		include includes/header

		.container.page
			block body_content

		include includes/footer
		include includes/modal_dialogs

		block init_script
			script(src="https://code.jquery.com/jquery-1.11.1.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.1/moment-timezone.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/zh-tw.js")

			script(src="/javascripts/sprintf.min.js")

		block body_script
